
html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    background:ghostwhite;
    overflow: hidden;
    font-family: Monaco;
    

    /* animation: blink 5s linear infinite; */
  }

  #info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color:black;
    font-family: Monaco;
    margin-top: 20px;
    
}

#form{
    font-size: 40px;
    text-align: center;
}

#container{
    position:relative;

  }



  .animate {
    animation: blink_ 2s linear;
  }

  /* .animate_out {
    animation: blink_out 2s linear;
  } */



.blink{
    animation: blink 1.5s linear infinite;
    /* color: blue; */
}

@keyframes blink{
    50%{
    opacity:0;
    }
}

@keyframes blink_{
    0%{
    opacity:0;
    }
    50%{
        opacity:100;
        }
}
/* 
@keyframes blink_out{
    0%{
        opacity:100;
        }
        100%{
            opacity:0;
            }
} */
